<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            {{>header}}
            <div class="main-content">
            <img class="portrait" src="/img/DevOps Books 02.JPG">
            </div>
            {{>footer}}
        </body>
    </head>
</html>