<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            <div class="main-content">
                {{>header}}
                <p>This text explains how dynamic templates could be used in web sites utilising {{name}}</p>
            </div>
            {{>footer}}
        </body>
    </head>
</html>